name: Child Tests

on:
  workflow_dispatch:
    inputs:
      base_url:
        description: "Base application URL (ePrihlasky frontend / API)"
        required: false
        default: "https://test-eprihlasky.iedu.sk"
        type: string

      idp_url:
        description: "Base TIAM Identity Provider URL"
        required: false
        default: "https://tiamidsk.iedu.sk"
        type: string

      username:
        description: "Login username (overrides GitHub secret if provided)"
        required: false
        type: string

      password:
        description: "Login password (overrides GitHub secret if provided)"
        required: false
        type: string

jobs:
  child:
    uses: ./.github/workflows/base_runtime.yml
    secrets: inherit
    with:
      base_url: ${{ inputs.base_url }}
      idp_url:  ${{ inputs.idp_url }}
      username: ${{ inputs.username }}
      password: ${{ inputs.password }}
      python_command: |
        python3 tests/child/full_flow.py
