name: Simple Load Test (Locust)

on:
  workflow_dispatch:
    inputs:
      users:
        description: "Number of concurrent users"
        required: true
        default: "10"

      rampup:
        description: "User spawn rate (users per second)"
        required: true
        default: "5"

      duration:
        description: "Test duration (e.g. 1m, 5m, 30s)"
        required: true
        default: "1m"

      base_url:
        description: "Base application URL"
        required: false
        default: "https://test-eprihlasky.iedu.sk"

      idp_url:
        description: "TIAM Identity Provider URL"
        required: false
        default: "https://tiamidsk.iedu.sk"

      username:
        description: "Login username (optional)"
        required: false

      password:
        description: "Login password (optional)"
        required: false

permissions:
  contents: read

jobs:
  simple:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install locust requests beautifulsoup4

      - name: Runtime environment
        run: |
          echo "BASE_URL=${{ inputs.base_url }}" >> $GITHUB_ENV
          echo "IDP_URL=${{ inputs.idp_url }}" >> $GITHUB_ENV
          echo "LOGIN_USERNAME=${{ inputs.username || secrets.LOGIN_USERNAME }}" >> $GITHUB_ENV
          echo "LOGIN_PASSWORD=${{ inputs.password || secrets.LOGIN_PASSWORD }}" >> $GITHUB_ENV

      - name: Run Simple Locust
        run: |
          mkdir -p pages/simple-loadtest

          python3 -m locust \
            -f tests/locust/full_flow_locust_all.py \
            --headless \
            -u ${{ inputs.users }} \
            -r ${{ inputs.rampup }} \
            -t ${{ inputs.duration }} \
            --html pages/simple-loadtest/report.html \
            --csv pages/simple-loadtest/results \
            --only-summary \
            --host ${{ inputs.base_url }}

      - name: Upload simple artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: simple-pages
          path: pages/simple-loadtest
